{% extends "base.html" %}
{% block content %} 

{% if message %}
  <div>
    <p>{{message}}</p>
  </div>
{% endif %}
    
    <div class="register">
        <span class="registerTitle">Register</span>
        <form action="{{url_for('auth.register')}}" method="post" class="registerForm">
          <label>Username:</label>
          <input class="registerInput" type="text" name="username" placeholder="Enter your username..." />
          <label>Email:</label>
          <input class="registerInput" type="text" name="email" placeholder="Enter your email..." />
          <label>Password:</label>
          <input class="registerInput" type="password" name="password" placeholder="Enter your password..." />
          <button class="registerButton">Register</button>
        </form>
      </div>


{% endblock %}