{% extends "base.html" %}
{% block content %} 

    <div class="write">
       <form method='POST' action="{{url_for('views.write')}}" class="writeForm">
        <div class="writeFormGroup">
            <input type="text" name = "title" placeholder="Title" class="writeInput" autofocus>
        </div>
        <div class="writeFormGroup">
            <textarea placeholder="Tell your story..." type="text" name = "content" class="writeInput writeText"></textarea>
        </div>
       
        <!-- <div class="writeFormGroup">
            <label for="fileInput">
                <i class="writeIcon fa-solid fa-file-arrow-up"></i>
                <span>Upload File</span>
            </label>
            <input type="file" id="fileInput" style="display:none">
        </div> -->

        <div class="writeFormGroup">
            <input placeholder="Image URL" type="text" name = "imgURL" class="writeImageURL">
        </div>

        <div class="writeButton">
            <button class="writeSubmit">Publish</button>
        </div>
       </form>
    </div>
    
{% endblock %}