/* ALL STYLES */

* {
    margin: 0;
    font-family: 'Josefin Sans', sans-serif;
}



.alert {
    margin-bottom: 0
}



/* NAV BAR STYLE */

.top{
    width: 100%;
    height:60px;
    background-color: white;
    position: sticky;
    top:0;
    display:flex;
    align-items:center;
    z-index: 999;
    font-family: 'Josefin Sans', sans-serif;
}

.topLeft,
.topRight{
    flex:3;
    display:flex;
    align-items: center;
    justify-content: center;
}

.topCenter {
    flex:6;
    display:flex;
    align-items: center;
    justify-content: center;
}

.topList{
    text-align: center;
}

.topIcon{
    font-size:25px;
    margin-right:15px;
    color:#444;
    cursor:pointer;
}
.topList{
    list-style: none;
    display:flex;
    flex-direction: row;
    margin: 0;
    padding: 0;
}

.topListItem{
    margin-right:20px;
    font-size:18px;
    font-weight:300px;
    color:#444;
    text-decoration: none;
    cursor: pointer;
}

.topSearch{
    font-size:18px;
    color:#666;
    cursor: pointer;
    margin:0 10px;
}

.topSearchBar{
    border-radius:20px;
    padding-left:10px;
    height:30px;
}








/* HEADER STYLE */


.header{
    display:flex;
    flex-direction: column;
    align-items: center;
    margin-top:10px;
}

.header-title{
    position:absolute;
    font-size:25px;
    font-size:70px;
    padding-top:100px;
    font-family: 'Silkscreen', cursive;
}

.header-image{
    width:100%;
    height:350px;
}







/* HOMEPAGE STYLE */

.blog-container{
    display:flex;
    justify-content: center;
    align-items: center;
    margin: 50px 0px;
    flex-wrap: wrap;
}

.card{
    width:350px;
    height:500px;
    background-color:#f2f2f2;
    border: 1px solid #ececec;
    margin: 30px;
    border-radius: 10px;
    margin-bottom:50px;
}

.blog-image{
    width:100%;
    height:50%;
    border-radius: 10px;
}

.blog-image img{   
    width:100%;
    height:100%; 
    object-fit:cover;
    object-position:center;
    margin-top:30px;
}

.blog-text{
    margin-top:40px;
    padding:20px;
    display:flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Poppins', sans-serif;
}

.blog-text a{
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 700;
    color:rgb(235, 98, 162);
    text-decoration: none;
    font-size:1.5rem;
    font-weight: 900;
    margin:5px;
}

.blog-text a:hover{
    color:rgb(239, 179, 207);
}

.blog-text p{
    color: #9b9b9b;
    font-size:0.9rem;
    display:-webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    margin: 20px 0px;
}

.blog-message{
    font-size:30px;
    margin:70px auto;
}







/* FOOTER STYLE */

.footer{
    background-color: rgb(239, 179, 207);
    display:flex;
    align-items: center;
    justify-content: space-evenly;
    font-family: 'Poppins', sans-serif;
}

.footer-about{
    width:400px;
    text-align: center;
    display:flex;
    flex-direction: column;
    margin:0 50px;
}

.about-title{
    font-size:25px;
    margin-bottom:40px;
    font-family: 'Silkscreen', cursive;
}

.footer-icons{
    margin-top:40px;
}

.footer-email{
    margin:35px;
    padding:30px;
    margin-right:0;
    border-radius:10px;
    width:450px;
    background-color:white
}

.footer-email h2{
    margin:10px;
    text-align: center;
    color:rgb(235, 98, 162);
    font-family: 'Silkscreen', cursive;
}

.footer-email form{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.input-field{
    width:300px;
    height:30px;
    margin:10px 0px;
    padding-left:10px;
    border:1px solid #777;
    border-radius:10px;
    outline:none;
}

.textarea-field{
    width:300px;
    height:100px;
    margin-top:10px;
    margin-bottom:20px;
    padding-left: 10px;
    padding-top:10px;
    outline:none;
    border-radius:10px;
    border:1px solid #777;
    resize:none;
}


.footer-email button{
    outline:none;
    border:none;
    border-radius:10px;
    width:100px;
    height:40px;
    padding:10px;
    background-color:rgb(239, 179, 207);
    cursor:pointer;
    font-family: 'Poppins', sans-serif;
}

.footer-email button:hover{
    background-color:#F3DFE2;
}








/* INDIVIDUAL POST STYLE */
.singlePost{
    margin:auto;
    /* height: calc(150vh - 50px); */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image:linear-gradient(#f4d5db,#ade2e6);
    background-size: cover;
    margin-left: -8px;
    margin-right: -8px;
    font-family: 'Poppins', sans-serif;

}


.singlePostWrapper {
    padding: 20px;
    margin-left: 50px;
    margin-right: 50px;
    font-family: 'Poppins', sans-serif;
    width: 70%;
}



.singlePostImg {
    margin-top:50px;
    width: 100%;
    border-radius: 5px;
    object-fit: cover;
    border: white;
    border-width: 10px;
    border-style: solid;
}

.singlePostTitle {
    font-family: 'Josefin Sans', sans-serif;
    text-align: center;
    margin: 10px;
    margin-top:30px;
    font-size: 28px;
}

.singlePostEdit {
    float: right;
    font-size: 20px;
}

.singlePostIcon {
    margin-left: 10px;
    cursor: pointer;
}

.singlePostIcon:first-child {
    color: teal;
}

.singlePostIcon:last-child {
    color: tomato;
}

.singlePostInfo {
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
    font-size: 16px;
    color: #b39656;
}

.singlePostDesc {
    color: #666;
    font-size: 18px;
    line-height: 25px;
}

.singlePostDesc:first-letter{
    margin-left: 20px;
    font-size: 30px;
    font-weight: 600px;
}







/* LOGIN PAGE STYLE */

.login {
    height: calc(100vh - 50px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image:linear-gradient(#f4d5db,#ade2e6);
    background-size: cover;
    margin-left: -8px;
    margin-right: -8px;
    font-family: 'Poppins', sans-serif;
}

.loginTitle {
    font-size: 60px;
    font-family: 'Silkscreen', cursive;
    font-weight: 700;
}

.loginForm {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
}

.loginForm > label {
    margin-top: 20px;
    font-size: 18px;
    padding-bottom: 10px;
    display: flex;
    flex-direction: column;

}

.loginInput {
    width:200px;
    padding: 10px;
    background-color: white;
    border: none;
    border-radius:10px;
}

.loginButton {
    margin-top: 30px;
    font-size: 15px;
    cursor: pointer;
    background-color: teal;
    border: none;
    color: white;
    border-radius: 10px;
    padding: 10px;
    font-family: 'Poppins', sans-serif;
}






/* REGISTER PAGE STYLE */

.register {
    height: calc(100vh - 50px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image:linear-gradient(#ade2e6,#f4d5db);
    background-size: cover;
    margin-left: -8px;
    margin-right: -8px;
    font-family: 'Poppins', sans-serif;
}

.registerTitle {
    font-size: 60px;
    font-family: 'Silkscreen', cursive;
    font-weight: 700;
}

.registerForm {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
}

.registerForm > label {
    margin-top: 20px;
    padding-bottom: 10px;
    font-size: 18px;
    display: flex;
    flex-direction: column;
}

.registerInput {
    width:200px;
    padding: 10px;
    background-color: white;
    border: none;
    border-radius:10px;
}

.registerButton {
    margin-top: 30px;
    cursor: pointer;
    background-color: rgb(235, 98, 162);
    border: none;
    color: white;
    border-radius: 10px;
    padding: 10px;
    font-size: 15px;
    font-family: 'Poppins', sans-serif;
}


/* WRITE PAGE STYLE */

.write{
    padding-top:50px;
    font-family: 'Poppins', sans-serif;
    background-image:linear-gradient(#ade2e6,#f4d5db);
    background-size: cover;
    margin-left: -8px;
    margin-right: -8px;
    height: calc(100vh - 50px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: 'Poppins', sans-serif;
}


.writeForm{
    display:flex;
    flex-direction: column;
}

.writeFormGroup{
    margin:auto;
    display:flex;
    align-items: center;

}
.writeFormGroup label{
    margin:10px;
    padding:20px;
    cursor:pointer;
}

.writeIcon{
    margin-right:10px;
    font-size:20px;
}

.writeInput{
    font-family: 'Poppins', sans-serif;
    font-size:30px;
    border:none;
    padding:15px;
    width:70vw;
    border-radius: 10px;
    background-color: #f2f2f2;
}

.writeInput:focus{
    outline:none;
}

.writeText{
    font-size: 20px;
    height:300px;
    resize:none;
    margin-top:20px;
}

.writeImageURL{
    font-family: 'Poppins', sans-serif;
    font-size:15px;
    border:none;
    margin-top:20px;
    padding:15px;
    width:70vw;
    border-radius: 10px;
    background-color: #f2f2f2;
}

.writeButton{
    text-align: center;
    margin-top:20px;
}

.writeSubmit{
    font-family: 'Poppins', sans-serif;
    width:100px;
    color:white;
    background-color: teal;
    padding:10px;
    border:none;
    border-radius:10px;
    cursor:pointer;
}